* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #fff4fd59;
    margin: 10px auto;
}
header, nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
}
header img {
    width: 300px;
    height: 100px;
}
article {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
section, ul {
    list-style: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
}
section, .locations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}
section.table {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.images {
    display: flex; 
}
.images img {
    width: 300px;
    height: 240px;
}
.color {
    display: block;
    text-align: center;
    margin: 30px;
}
.hours {
    display: block;
    text-align: center;
}
ul li {
    padding: 5px;
}
h1 {
    color: #796782;
}
h1 , h2, h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 15px;
    font-family: 'Zilla Slab Highlight', cursive;
}
table {
    width: 50%;
    margin: 20px;
    vertical-align: center;
}
table, th, td {
    border: 2px dashed black;
    margin: 10px;
    font-size: 20px;
    font-style: oblique;
    padding: 10px;
    background-color: #a68aae59;
    font-size: 18px;
}
td, th {
    padding: 5px;
}
th {
    text-align: center;
}
.hours {
    margin: 10px;
}
p {
    padding: 10px;
    margin: 10px;
}
a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
a:hover {
    color: rgb(135 51 171);
}
footer p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
input:invalid {
    border: 2px solid #ff693a;
}
  
input:valid {
    border: 2px solid green;
}
fieldset
{
    border: 1px solid #ecbb52;
    min-width: 424px;
    padding: 16px;
    font-weight: bold;
}
legend {
    margin-bottom: 10px;
    margin-left: 25px;
}
label {
    font-style: italic;
    font-weight: 600
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    margin: 15px 0;
    padding: 5px;
}

form button {
    background-color: #b37849;
    padding: 13px 0;
    width: 130px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease-in;
}
form button:hover {
    background-color: #ecbb52;
    color: #000;
    cursor: pointer;
}